.my-workouts {
  margin-bottom: 100px;
}

.search-field-background {
    padding: 0;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
}

.search-field {
  width: 50vw;
}

.workouts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-workout-background {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.add-workout-button {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
