<div class="workout-creation-page">
  <mat-toolbar class="dark-background">
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon class="menu-icon">menu</mat-icon>
    </button>
    <span class="tool-bar-title">Workout App</span>
  </mat-toolbar>
  <div class="workout-creation-container">
    <div class="new-workout-title-and-subtitle">
      <h2 class="title-text">CREATE YOUR CUSTOM WORKOUT</h2>
      <p class="subtitle-text">Plan your ultimate workout for a customized training experience with our workout builder</p>
    </div>
    <div class="workout-title-and-type-container dark-background">
      <mat-form-field appearance="outline">
        <mat-label>Name your workout</mat-label>
        <input matInput [(ngModel)]="workoutName" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Type of workout</mat-label>
        <mat-select [(ngModel)]="workoutType" required>
          <mat-option *ngFor="let type of workoutTypes" [value]="type.name">{{ type.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="new-workout-title-and-subtitle">
      <h2 class="title-text">ADD EXERCISES</h2>
      <p class="subtitle-text">Build your workout by selecting “Add a new exercise” and selecting moves from the list</p>
    </div>

    <div class="workout-items-and-drafts">
      <div class="workout-creation-container dark-background">
        <app-workout-exercise-item
          *ngFor="let workoutExercise of workoutExercises"
          [workoutExercise]="workoutExercise"
        ></app-workout-exercise-item>

        <app-workout-exercise-draft
          (exerciseWorkoutSaveEvent)="onWorkoutExerciseSaveEvent($event)"
        ></app-workout-exercise-draft>
      </div>
    </div>

    <div class="button-container">
      <button mat-button
        (click)="saveNewWorkout()"
        class="add-workout-continue-button title-text">CREATE WORKOUT</button>
    </div>
  </div>
</div>
