<mat-card class="workout light-background" layout-fill>
  <mat-card-header class="workout-header">
      <mat-card-title class="workout-header-title title-text">{{ workoutExercise.name }}</mat-card-title>
      <mat-card-subtitle class="workout-header-subtitle subtitle-text">{{ workoutExercise.sets }} sets, {{ workoutExercise.reps }} reps, {{ workoutExercise.weight }} kg</mat-card-subtitle>
  </mat-card-header>
  <div class="button-container">
    <button mat-button class="add-workout-continue-button title-text">EDIT</button>
    <button mat-button class="add-workout-continue-button title-text">DELETE</button>
  </div>
</mat-card>
